#BuyBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-block: 34px;
    margin-right: 50px;
    padding-inline: 25px;
    padding-block: 17px;
    background-color: var(--white);
    border-radius: 4px;
}

#BuyBox h1 {
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1px;
    font-size: 32px;
    color: var(--dark-gray);
}

#BuyBox h2 {
    font-size: 12px;
    color: var(--dark-gray-3);
}

.avaliacoes {
    display: flex;
    gap: 10px;
}

.star {
    display: flex;
    align-items: center;
    gap: 4px;
}

.qtd-star-av {
    display: flex;
    gap: 10px;
}

.qtd-star {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 63px;
    height: 23px;
    border-radius: 4px;
    padding: 6px 10px 6px 10px;
    color: var(--white);
    background-color: var(--warning);
}

.av {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.25px;
    color: var(--light-gray);
}




.preco {
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.preco-desc {
    display: flex;
    align-items: baseline;
    gap: 2px;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1px;
    color: var(--dark-gray-2);
}

.preco-desc #rs {
    font-weight: 400;
    line-height: 28px;
}

.preco-desc span {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.75px;


}


.preco-orig {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;
    color: var(--light-gray-2);
    text-decoration: line-through;
}


.product-desc {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.75px;
    color: var(--light-gray);
}

.product-desc p {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.25px;
    color: var(--dark-gray-2);
}

.Po-txt {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.75px;
    color: var(--light-gray);
}

.ProductOptions {
    display: flex;
    gap: 10px;
    list-style: none;
    justify-content: left;
    margin: 0;
    padding: 0;
}

.ProductOptions li:hover {
    border: 2px solid var(--primary);
}

.ProductOptions .square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid var(--light-gray-2);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.75px;
    color: var(--dark-gray-2);
    background-color: var(--white);
    cursor: pointer;
}

.ProductOptions .circle {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    cursor: pointer;
}


#BuyBox button {
    border: none;
    border-radius: 4px;
    width: 220px;
    height: 48px;
    background-color: var(--warning);
    color: var(--white);
    font-weight: bold;
    transition: 0.8s;
    cursor: pointer;
}

#BuyBox button:hover {
    background-color: var(--white);
    color: var(--warning);
    border: 1px solid var(--warning);
}