#gallery {
    padding: 34px 7.2222222%;
}

#slides {
    display: flex;
    overflow: auto;
    scrollbar-width: none;
}

.slide {
    min-width: 100%;
}

.slide img{
    width: 100%;
    border-radius: 8px;
}

#thumbnails {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.thumbnail {
    width: 117px;
    height: 95px;
    margin: 0 5px;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}