#productcard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 280px;
}

#productcard h1 {
    color: var(--dark-gray);
}

#productcard img {
    border-radius: 10px;
    height: 300px;
}

#productcard-price {
    display: flex;
    gap: 4px;
    color: var(--dark-gray);
    font-size: 24px;
}